{{>layouts/header}}
리뷰를 수정해주세요.
{{#review}}
  <form action="/reviews/{{id}}/update" method="post">
    <input type="hidden" name="id" value="{{id}}"/>
    <input type="text" name="hospitalId" value="{{hospitalId}}"/>
    <input type="text" name="disease" value="{{disease}}"/>
    <input type="text" name="amount" value="{{amount}}"/>
    <input type="text" name="title" value="{{title}}"/>
    <textarea rows="3" name="content">{{content}}</textarea>
    <input type="submit"/>
  </form>
  <a href="/reviews/{{id}}">이전으로</a>
  <a href="/reviews">목록</a>
{{/review}}
{{>layouts/footer}}