{{>layouts/header}}
<table class="table">
  <thead>
  <tr>
    <th scope="col">번호</th>
    <th scope="col">리뷰 제목</th>
    <th scope="col">리뷰 내용</th>
  </tr>
  </thead>
  <tbody>
  {{#listReview}}
    <tr>
      <th scope="row">{{id}}</th>
      <td><a href="/reviews/{{id}}">{{title}}</a></td>
      <td>{{content}}</td>
    </tr>
  {{/listReview}}
  </tbody>
</table>
<a class="btn btn-primary" href="create" role="button">리뷰작성</a>
{{>layouts/footer}}