{{>layouts/header}}
<div class="text-center">
    <h1>전국병원정보를 보실 수 있는 사이트입니다.</h1>
    <img src="https://img.freepik.com/free-vector/people-walking-and-sitting-at-hospital-building-city-clinic-glass-exterior-flat-vector-illustration-for-medical-help-emergency-architecture-healthcare-concept_74855-10130.jpg?w=1380&t=st=1668151373~exp=1668151973~hmac=c6150a14fe738e8e1afc6001aef67ed345df856d5db4fd72d0a0b9a5e1eef60d" class="img-fluid" alt="...">
</div>
{{>layouts/footer}}
