{{>layouts/header}}
<form class="container" action="api/v1/users/login" method="post">
  <div class="mb-3">
    <label class="form-label">이름</label>
    <input type="text" name="userName" class="form-control" placeholder="이름">
  </div>
  <div class="mb-3">
    <label class="form-label">비밀번호</label>
    <input type="text" name="password" class="form-control" placeholder="비밀번호">
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="submit">로그인</button>
  </div>
</form>
{{>layouts/footer}}